*,
html {
  box-sizing: border-box;
}
body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.013m;
  background-attachment: fixed;
  min-height: 100vh;
}
a {
  color: #00b7ff;
}

.wrapper {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  margin-left: 12rem !important;

}

.wrapper:before, .wrapper:after {
  content:"";
  display:table;
  clear:both;
}

.input-field {
  margin-top: 10px;
  margin-bottom: 25px;
}
